img{
    height: 250px;
    width: 250px;
}
.results{
    margin: 0 auto;
    width: 1251px;
}
.search{
    margin: 0 auto;
    padding: 25px;
    width: 250px;
}
.logo{
    margin: 10px auto;
    width: 350px;
}
.logo img{
    width: 350px;
}